
.imagem_de_capa {
    background-image:url(./imagem_portfolio/DSC_8635.JPG);
    background-size:cover;
    background-position: 50% 65%;
    height: 320px;
}

body{
    margin: 0;
    background-color: #a3bfa823;
    font-family: 'Montserrat', sans-serif;
}

.nome {
    /*border: 1px red solid;*/
    text-align: center;
}

div p {
    /*border: 1px yellow solid;*/
    position: absolute;
    width: 750px;
    top: 450px;
    left: 400px;
    text-align:left;

}

div img {
    border-radius: 100%;
    position:absolute;
    width: 250px;
    top: 270px;
    left: 150px;
}

.p1 {
    font-size: 15px;
    text-align: left;
    color: rgba(0, 0, 0, 0.685);
    }

.baterista {
    font-size: 32px;
    color: black;
}

.desenhista {
    font-size: 26px;
    color: rgb(255, 0, 85);
}

.engenheiro {
    font-size: 18px;
    color: blueviolet;
}

.paideplantas {
    font-size: 36px;
    color: rgb(123, 199, 8);
}

.entusiasta {
    font-size: 24px;
    color:rgb(92, 33, 33);
}

.tecnico {
    font-size: 14px;
    color:blue;
}

.holding {
    font-size: 28px;
    color:coral;
}

.camera {
    font-size: 18px;
    color:fuchsia;
}

.nadador {
    font-size: 30px;
    color:rgb(36, 218, 218);
}

.observador {
    font-size: 25px;
    color:rgb(16, 53, 36)
}
 
.cozinheiro {
    font-size: 20px;
    color:rgb(241, 144, 9);
}