body{
    margin: 0;
    background-color: #93c09c44;
    font-family: 'Montserrat', sans-serif;
}

.header {
    /*border: 1px solid red;*/
    background-image:url(./imagem_portfolio/DSC_8635.JPG);
    background-size: cover;
    background-position: 50% 70%;
    padding: 250px 250px 150px;

}

.header-content {
    /*border: 1px solid rgb(24, 27, 18);*/
    height: 350px;
    padding: 20px 150px 150px;
    position: relative;
}

#s1 {
    border-radius: 100%;
    width: 150px;
    padding: 10px;
    background-color: rgb(100, 190, 160);  
    position: absolute;
    top: 25%;
    left: 10%;

}

.nome {
    /*border: 1px solid coral;*/
    text-align: center;
}

.inf {
    /*border: 1px yellow solid;*/
    text-align:left;
    width: 400px;
    position: absolute;
    top: 40%;
    left: 35%;


}

.lista {
    /*border: 1px solid rgb(112, 177, 16);*/
}

div ol li:hover {
    border: solid rgb(66, 92, 139);
    width: 120px;
}

div ol li a {
    text-decoration: none;
    color: rgb(24, 27, 27);
}

.lista2 {
    padding: 25px;
}

div ul li {
    list-style: none;
}

div ul li:nth-child(odd) {
    background-color: aquamarine;
}

.baterista {
    font-size: 32px;
    color: black;
}

.desenhista {
    font-size: 26px;
    color: rgb(255, 0, 85);
}

.engenheiro {
    font-size: 18px;
    color: blueviolet;
}

.paideplantas {
    font-size: 36px;
    color: rgb(123, 199, 8);
}

.entusiasta {
    font-size: 24px;
    color:rgb(92, 33, 33);
}

.tecnico {
    font-size: 14px;
    color:blue;
}

.holding {
    font-size: 28px;
    color:coral;
}

.camera {
    font-size: 18px;
    color:fuchsia;
}

.nadador {
    font-size: 30px;
    color:rgb(36, 218, 218);
}

.observador {
    font-size: 25px;
    color:rgb(16, 53, 36)
}
 
.cozinheiro {
    font-size: 20px;
    color:rgb(241, 144, 9);
} 

.home {
    /*border: solid 1px yellow;*/
    text-align: center;
    padding: 150px;
}

.mais_sobre {
    /*border: 1px solid salmon;*/
    padding: 50px
}

.botao1 {
    color: #fff;
    background-color:rgba(32, 32, 109, 0.774);
    border-radius: 4px;
    padding: 15px 30px;
    text-decoration: none;
}

.botao2 {
    color: #fff;
    background-color: chocolate;
    border-radius: 4px;
    padding: 15px 30px;
    text-decoration: none;
}